In [1]:
import pandas as pd
import grequests
import urllib.parse
from tqdm import tqdm
import json
from pandas import json_normalize
import time

In [18]:
SERVER_URL = "https://npclassifier.ucsd.edu"

df = pd.read_csv("smiles.tsv", sep="\t")
#df = pd.read_csv("/Users/pma/Dropbox/Research_UNIGE/git_repos/pybatchclassyfire/data/sanitized_structure.tsv", sep="\t")
#df = df.head(1000)

all_urls = []

for entry in tqdm(df.to_dict(orient="records")):
    smiles = str(entry["smiles"])
    if len(smiles) > 5:
        request_url = "{}/classify?smiles={}".format(SERVER_URL, urllib.parse.quote(smiles))
        all_urls.append(request_url)

# Lets actually do the query and measure the speed
rs = (grequests.get(u) for u in all_urls)
responses = grequests.map(rs, size=20)

100%|██████████| 5/5 [00:00<00:00, 21664.79it/s]

In [19]:

start = time.time()
all_responses_list = [response.json() for response in responses]
end = time.time()
print(end - start)

0.0024878978729248047

In [20]:
flattened_classified_json = json_normalize(all_responses_list)

In [21]:
flattened_classified_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   class_results       5 non-null      object
 1   superclass_results  5 non-null      object
 2   pathway_results     5 non-null      object
 3   isglycoside         5 non-null      bool
 4   fp1                 5 non-null      object
 5   fp2                 5 non-null      object
dtypes: bool(1), object(5)
memory usage: 333.0+ bytes

In [23]:
df = flattened_classified_json

In [24]:
df

,class_results,superclass_results,pathway_results,isglycoside,fp1,fp2
0,[Iridoids monoterpenoids],[Monoterpenoids],[Terpenoids],True,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,[Arteminisin],[Sesquiterpenoids],[Terpenoids],False,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,[Wax monoesters],[Fatty esters],[Fatty acids],False,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,[Resolvin Ds],[Docosanoids],[Fatty acids],False,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,"[Abietane diterpenoids, Naphthoquinones]","[Naphthalenes, Diterpenoids]","[Polyketides, Terpenoids]",False,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [7]:
flattened_classified_json.to_csv('NP_classy_opennpdb.tsv', sep = '\t')

In [4]:
df = pd.read_csv("/Users/pma/Dropbox/Research_UNIGE/git_repos/NP-Classifier/notebooks/NP_classy_opennpdb.tsv", sep="\t")

In [13]:
df

,class_results,superclass_results,pathway_results,isglycoside,fp1,fp2
0,"[Aporphine alkaloids, Isoquinoline alkaloids]",[Tyrosine alkaloids],[Alkaloids],False,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,"[Aporphine alkaloids, Isoquinoline alkaloids]",[Tyrosine alkaloids],[Alkaloids],False,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,"[Aporphine alkaloids, Isoquinoline alkaloids]",[Tyrosine alkaloids],[Alkaloids],False,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,"[Aporphine alkaloids, Isoquinoline alkaloids]",[Tyrosine alkaloids],[Alkaloids],False,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,[Ursane and Taraxastane triterpenoids],[Triterpenoids],[Terpenoids],False,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...,...,...,...
995,[],[],[],False,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
996,[Oleanane triterpenoids],[Triterpenoids],[Terpenoids],False,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
997,[Gallotannins],[Phenolic acids (C6-C1)],[Shikimates and Phenylpropanoids],True,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
998,"[Isoquinoline alkaloids, Protoberberine alkalo...",[Tyrosine alkaloids],[Alkaloids],False,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
999,[Secokaurane diterpenoids],[Diterpenoids],[Terpenoids],False,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [14]:
coltodrop = ['fp1', 'fp2']
df.drop(coltodrop, axis=1, inplace= True)

In [15]:
colnames(df)

NameError: name 'colnames' is not defined

In [16]:
df.to_csv('NP_classy_opennpdb.tsv', sep = '\t', index = False)

In [20]:
df.rename(columns={ df.columns[-1]: "your value" })

,class_results,superclass_results,pathway_results,your value
0,"['Aporphine alkaloids', 'Isoquinoline alkaloids']",['Tyrosine alkaloids'],['Alkaloids'],False
1,"['Aporphine alkaloids', 'Isoquinoline alkaloids']",['Tyrosine alkaloids'],['Alkaloids'],False
2,"['Aporphine alkaloids', 'Isoquinoline alkaloids']",['Tyrosine alkaloids'],['Alkaloids'],False
3,"['Aporphine alkaloids', 'Isoquinoline alkaloids']",['Tyrosine alkaloids'],['Alkaloids'],False
4,['Ursane and Taraxastane triterpenoids'],['Triterpenoids'],['Terpenoids'],False
...,...,...,...,...
9982,['Polysaccharides'],['Saccharides'],['Carbohydrates'],True
9983,[],[],['Terpenoids'],False
9984,['Isoflavones'],['Isoflavonoids'],['Shikimates and Phenylpropanoids'],True
9985,['Cycloartane triterpenoids'],['Triterpenoids'],['Terpenoids'],True
9986,['Guaiane sesquiterpenoids'],['Sesquiterpenoids'],['Terpenoids'],False